body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.operator,
.number {
    background-color: rgba(10, 20, 30, 0.3);
    border-radius: 3px;
}

#calculator {
    border-radius: 5px;
}

#result-display {
    border-radius: 5px 5px 0 0;
}